- we can store the output values by using append operation

- we are taking empty list

- we are iterating through elements from a given list

- The result we are appending in a new list

In [2]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are in the process

- The Three lines we can make into a single line

- This is called as LIST COMPREHENSION

$pattern-1$

**Only for loop**

In [ ]:
# syntax
# [<output>   <for loop>]

In [8]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

# Q1)What is the output? i*i
# Q2)What is output list name? square_list
# Q3)what is the for loop ? for i in range(10)

# [<output>  <for loop>]

sq_list=[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
# Q1) ehat is output
# Q2) what is output list name? upper_list
# Q3) what is the for loop? for i in l1
# [<output>  <for loop>]
upper_list=[i.upper() for i in l1]
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [15]:
l1=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
lower_list=[]
lower_list=[i.lower() for i in l1]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [20]:
# Q4)l2=['Hyd','Mumbai','Chennai','blr']
# sum of the indexes of all elements
l2=['Hyd','Mumbai','Chennai','blr']
summ=0
for i in l2:
    print(l2.index(i))
    summ=summ+l2.index(i)
summ

0
1
2
3

6

In [26]:
idx_list=[l2.index(i) for i in l2]
sum(idx_list)

6

- making empty list and initialization will not work in list comprehension

- initializations will not works in List comprehension

- assignment operation also not works

$Pattern-2$

**For loop-if condition**

In [31]:
# syntax

#[<output> <for loop> <if condition>]

In [22]:
#Q5) l1=['hyd','mumbai','chennai','blr']
l1=['hyd','mumbai','chennai','blr']
for i in l1:
    if len(i)>4:
       print(i)

mumbai
chennai

In [45]:
ans_list=[i for i in l1 if len(i)>4]
ans_list

['mumbai', 'chennai']

In [10]:
#Q5) l1=['Hyd','Mumbai','chennai','blr']
# ans=['Hyd','Mumbai']
# we want elements which are having first letter capital
l1=['Hyd','Mumbai','chennai','blr']
ans_list=[]
for i in l1:
    if i[0].isupper():
        ans_list.append(i)
ans_list

['Hyd', 'Mumbai']

In [4]:
ans_list=[i for i in l1 if i[0].isupper()]
ans_list

['Hyd', 'Mumbai']

In [5]:
l1=['Hyd','Mum#bai','chen#nai','blr']
ans_list=[]
for i in l1:
    if '#' in i:
        ans_list.append(i)
ans_list

['Mum#bai', 'chen#nai']

In [8]:
ans_list=[i for i in l1  if '#' in i]
ans_list

['Mum#bai', 'chen#nai']

In [18]:
l1=['Hyd','Mum#bai','chen#nai','blr']
ans_list=[i for i in l1 if '#' in i]
ans_list

['Mum#bai', 'chen#nai']

In [24]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name should be in second name list
#        third name will be in third name list

str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
list1=str1.split(',')
# lis1[i][:<first_dot_indexl>]
for i in list1:
.    print(i[:i.index('.')])

virat
 Rohit
 KL

[<output> <forloop>:] for loop
[<output> <forloop> <if condition>:]  for-if
[<ifoutput> <if> <else> <else_op> <for>]:if-else

**even-odd**

In [18]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f"even:{i}")
    else:
        op_list.append(f"odd:{i}")

op_list

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']

In [2]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
a=[i for i in range(1,10) if i%2==0]
a

[2, 4, 6, 8]

In [15]:
square_list=[]
for i in range(1,11):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
l1=['Hyd','Mum#bai','chen#nai','blr']
upper_list=[i.upper() for i in l1]
upper_list

['HYD', 'MUM#BAI', 'CHEN#NAI', 'BLR']