In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(10,10.5,'Naresh It',True)

10 10.5 Naresh It True

In [5]:
n1=10
n2=20
print(n1,n2)

10 20

In [9]:
print(10)
print(20)

10
20

In [10]:
print(10,20,30)
print(10),print(20)

10 20 30
10
20

(None, None)

In [11]:
print(10,20)

10 20

In [13]:
a=100
b=200
c=a+b
# the addition of 10 and 20 is 30
print("The addition is 10 and 20 is 30")
print("the addition of",a,"and",b,"is",c)

The addition is 10 and 20 is 30
the addition of 100 and 200 is 300

# Format

In [15]:
a=100
b=200
c=a+b
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300

In [20]:
name='sudarshan'
age=21
city='sambhajinagar'
print("my name is {}, i am {} years old and i am from {}".format(city,age,name))

my name is sambhajinagar, i am 21 years old and i am from sudarshan

In [23]:
employee_name='sudarshan'
employee_role='Data scientist'
company='Google'

print("my name is {},I am a {},Company {}".format(employee_name,employee_role,company))

my name is sudarshan,I am a Data scientist,Company Google

**Fstring**

In [25]:
a=100
b=200
c=a+b

print(f"The addition of {a} and {b} is {c} ")

The addition of 100 and 200 is 300

In [28]:
name='sudarshan'
age=21
company='Google'

print(f"My name is {name} and I am {age} years old and I am working in {company} company")

My name is sudarshan and I am 21 years old and I am working in Google company

In [7]:
num1=100
num2=200

average=(num1+num2)/2

# The average of 100 and 200 is 150
  
print(f"The average of {num1} and {num2} is {average}") # fstring method
print("The average of {} and {} is {}".format(num1,num2,average))

The average of 100 and 200 is 150.0
The average of 100 and 200 is 150.0

In [12]:
#Take a radius of a circle
#Take the pi value=3.14
#Find the area of a circle=pi*r*r

radius=10
pi=3.14

area=pi*radius*radius
print("Area of circle is {}".format(area))
print(f"Area of circle is {area}")

Area of circle is 314.0
Area of circle is 314.0

In [16]:
# Take take base of the triangle
# Take the height of the triangle
# Area of the triangle=1/2*base*height

base=4
height=5

Area=1/2*base*height

print(f"The area of triangle is {Area}")
print("The area of triangle is {}".format(Area))

The area of triangle is 10.0
The area of triangle is 10.0

In [19]:
# take the bill_amount =1000
# take the tip_percentage =10
# calculate tip_amount
# calculate the total bill

bill_amount=1000
tip_percentage=10
tip_amount=bill_amount*tip_percentage/100
total_bill=bill_amount+tip_amount

print(f"The toatal bill amount is {total_bill}")

The toatal bill amount is 1100.0

In [20]:
print(10)
print(20)

10
20

In [23]:
print(10,20)

10 20

**End operator**

- combining multiple statement into single line

In [26]:
print(10,end=' ')
print(20)

10 20

In [27]:
print(10,end=' ')
print(20,end=' ')
print(30)

10 20 30

**Seperate operater**

- Seperate the multiple values into single print statements

In [28]:
print(10,20,30,sep=' & ')

10 & 20 & 30

In [29]:
print(f"The addition of {5} and {3} is {5+3}")

The addition of 5 and 3 is 8

In [31]:
print("The addition of {} and {} is {}.".format(5,3,5+3))

The addition of 5 and 3 is 8.

In [4]:
print(30,40,sep=' & ')

30 & 40