**Lambda Functions**

- lambda fucntions represents fucntion concept

- but we are write in a single line

- like list comprehention ,lambda fucntion similar only

- it will decrease the time complexity

- always remember if we use many for loop or many condition using multiple line,the time complexity will increse

$pattern-1$

**Function with only one argument**

- function name

- argument name

- return output

In [1]:
def summ(n):
    return(n+10)
summ(10)

20

In [2]:
#syntax:<function name>= lambda <argument name>: <return output>

summ: lambda n:n+10
summ(100)

110

In [3]:
def cube(n):
    return (n**3)
cube(10)

1000

In [4]:
cube=lambda n:n**3
cube(10)

1000

$Patten-2$

**Two arguments**

In [7]:
#syntax : <function name>= lambda <arg1>,<arg2>: <return output>

def add(a,b):
    return a+b
add(50,50)

100

In [8]:
add=lambda a,b:a+b
add(50,50)

100

In [2]:
sudarshan=lambda ar1,ar2:ar1+ar2
sudarshan(10,20)

30

In [14]:
average=lambda a,b,c=500:round((a+b+c)/3,2)
average(10,202)

237.33

**Pattern-4**

**if-else**

In [15]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [17]:
# syntax:<function name>= lambda <arg1>,<arg2>:<if_out><if_con><else><else_out>

max=lambda a,b: a if a>b else b
max(30,20)

30

**Pattern-5**

**Using List**

In [21]:
l=['hyd','chennai','mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

**Map**

- the function and iterator are available now

- we need to map both

In [2]:
#lambda <variable>:<op>
#varible=i
#op=i.capitalize()

#lambda <variable>:<op>,<iterator>
#<iterator>:List
l=['hyd','chennai','mumbai']
map(lambda i: i.capitalize(),l)

In [29]:
# apply the list ro see the values
l=['hyd','chennai','mumbai']
list(map(lambda i: i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [30]:
# step1:write your normal expression
#        ex:lambda <var> : <op>===>lambda i:i.capitalize()
# step 2:add the iterator
#        ex: lambda <var> : <op>===>lambda i:i.capitalize(),list1
# step 3:map the both
#       map(lambda <var> : <op>===>lambda i:i.capitalize(),list1)

#step 4:save the values in a list,
#         list(map(lambda <var> : <op>===>lambda i:i.capitalize(),list1))

- Case-1:Function call with One argument

    - lambda arguments:Expression
 
    - lambda variables: return output


- Case-2:Function call with Two arguments
    
     - lambda arg1,arg2: Expression
 
     - lambda var1,var2: return output
 
- Case-3: Function call with Default arguments
    
    - lambda arg1,arg2=500: Expression
 
    - lambda var1,var2=500: return output
 
- Case-4: Function call with Two arguments and if-else statement

    - lambda arg1,arg2:  Expression
 
    - lambda var1,var2:if_output if_condition else else_op forloop
 
- Case-5:Lambda operations using list

    - lambda arg: Expression
 
    - map

In [4]:
l=['hyd','chennai','mumbai']
for i in l:
    print(i.upper())

HYD
CHENNAI
MUMBAI

In [6]:
list(map(lambda i:i.upper(),l))

['HYD', 'CHENNAI', 'MUMBAI']

In [5]:
l=['hyd','chennai','mumbai']
list(map(lambda i:i.title(),l))

['Hyd', 'Chennai', 'Mumbai']

**Filter**

- whenever if condtion are there use filter

In [10]:
l=['hyd','chen#nai','mum#bai']

#for i in l:
#    if '#' in i:
#        print(i)

tuple(map(lambda i:'#' in i,l))

(False, True, True)

In [11]:
tuple(filter(lambda i:'#' in i,l))

('chen#nai', 'mum#bai')

In [14]:
l=[1,3,2,7,6]
# op=[2,6]

tuple(filter(lambda i:i%2==0,l))

(2, 6)

**Reduce**

- All induilt functions can achieve by reduce

- Reduce is available from functools package

- level-1:reduce(lambda summ,i:summ+i,l1)

- level-2:reduce(lambda summ,i:summ+i,l1,initial_value)

- for example we want initialize summ=0 then we choose level-1

- fpr example we want start with other than zero then we choose level-2

In [21]:
l1=[1,2,3,4,5]

# Method-1:sum
#sum(l1)

# Method-2:with out sum
summ=0
for i in l1:
    summ=summ+i
print(summ)

15

In [41]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [36]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [40]:
import functools as ft
ft.reduce(lambda summ,i:summ+i,l1)

15

In [48]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda x,y:x*y,l1)

120

In [5]:
string='NaReSh i TeCh'
u_count=0
l_count=0
for i in range(len(string)):
    if string[i].isupper():
        u_count+=1
    elif string[i].islower():
        l_count+=1
print(u_count)
print(l_count)

5
6