In [24]:
a=10
b=20
c=a+b
c

30

In [2]:
a=100
b=200
c=a+b
c

300

In [2]:
# Python

i am learning python today

My name is sudarshan bodkhe.
I want to become a software engineer in a future

# Python

## Python

- Today i learned how to open jupyter notebook

- created a folder for python

- from tomorrow onwords I will open all my python notebooks in this folder only

- I understand about kernel

- When kernel is busy i will not run any other code cell

- Beacause python kernel will run step by step

- i also learned how to run the the code cell using shift+enter

In [6]:
a=10
b=20
c=a*b
c

200

In [23]:
a=20
b=20
multiply=a*b



multiply

400

# Variable

- Variable are used to store the values.

- And the value can be change

In [1]:
number=100  # value 100 stored in a variable name called 'number'
number

100

In [5]:
number=200  #value 200 stored in a variable name called 'number'
number

200

**NOTE**

- Python is a step by step process

- Python will take only last value as a output

- In above code we are using same variable:number

- But number values changes two times

- First times 100

- second time 200

- Latest value 200

In [6]:
NUMBER=200
NUMBER

200

In [7]:
NUMber=300
NUMber

300

In [8]:
number123=400
number123

400

In [9]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

In [10]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [11]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [21]:
number_one=900
number_one

900

In [13]:
_=1000
_

1000

In [14]:
n1=100,200
n1

(100, 200)

In [16]:
n2,n3=300
n2,n3

TypeError: cannot unpack non-iterable int object

In [18]:
n4,n5=100,200
n4,n5

print(n4)
print(n5)

100
200

In [20]:
number=200
NUMBER=300
NUNber=400
number123=500
123number=600
numb%er=700
number one=800
number_one=900

SyntaxError: invalid decimal literal (2175656152.py, line 5)

- Python variables are case sensitive

- Variable can be declared as a capital letters

- Variable can be declare as a small letters

- Variable can not start with number(prefix)

- Variable can not have special charecters except **Underscore**

- Numbers can be suffix of the variables

- Variables does not have space between names

- Only underscore is possible

- Keywords or reserved can not be used as a variables

- Two values can be assign to a single variable

- One value can not be assign to a two variables

In [1]:
a=10,20
a

(10, 20)